<table>
  <tr>
    <th><%= current_user.email %></th>
    <th><%= @conversation_partner.email %></th>
    <th>Sent at</th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
   <td><%= current_user.id == message.sender_id ? message.content : "" %></td>
   <td><%= current_user.id == message.receiver_id ? message.content : "" %></td>
   <!-- for Pacific time.... -->
   <td><%= message.created_at.advance(:hours => -7).strftime('%B %e, %Y at %l:%M %p') %></td>
  </tr>
<% end %>
</table>