<h1>Your Conversation with <%= @conversation_partner.email %></h1>
<p>Current Time: <%= Time.now.strftime('%B %e, %Y at %l:%M %p') %></p>
<div class="row">
  <div class="large-12 large-centered columns">

    <div class="row">
      <div id="new_message_container" class="large-12 large-centered columns">
        <%= render 'form' %>
      </div>
    </div>

    <%= hidden_field_tag "refresh_url", message_path(@conversation_partner.id) %>

    <div class="row">
      <div id="messages_container" class="large-12 large-centered columns">
        <%= render 'messages' %>
      </div>
    </div>
 <br />